.starfall {
  margin-top: 0;
  padding: 0;
  max-width: 100%;
  background-image: url(../../images/starfall.png);
  background-size: cover;
}

@media screen and (max-width: 350px) {
  .starfall {
    max-width: 300px;
  }
}