.frame__text {
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 425px) {
  .frame__text {
    margin-left: 20px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 375px) {
  .frame__text {
    margin-left: 20px;
    align-items: flex-start;
  }
}