.frame__lang-link {
  margin: 0 16px auto;
  font-size: 400;
  font-family: "Popping", sans-serif;
  font-weight: 13px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.frame__lang-link:hover {
  opacity: 0.8;
}