.lead__subtitle {
  margin: 0 auto 60px;
  padding: 0;
  max-width: 580px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #C0C0C0;
}

@media screen and (max-width: 350px) {
  .lead__subtitle {
    max-width: 300px;
  }
}