.footer__line {
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .footer__line {
    padding-left: 25px;
  }
}

@media screen and (max-width: 425px) {
  .footer__line {
    flex-direction: column;
    padding: 0;
  }
}
