.rect__subtitle {
  padding-bottom: 20px;
  display: flex;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #C0C0C0;
}